.explore-domains
{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.explore-domains h1{
    color: black;
    font-family: Asap;
    font-weight: 400;
    margin:auto;

}
.explore-domains-text
{
    max-width: 60%;
    color:black ;
    font-family: Asap;
    margin:auto;
    font-size: 26px;
}
.explore-domains-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
    text-align: center;
    margin:20px;
    
}
.explore-domains-list-item .active{
    border:4px solid black;
    padding:2px;

}
.explore-domains-list-item 
{
    border:2px solid grey;
    color:white;
    background-color: black;
}
.explore-domains-list-item img{
    height:200px;
    width: 220px;
}
.explore-domains-list-item p
{
    font-family: Dancing Script;
    font-size: 35px;
}
